on:
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: macos-10.15
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v1
        with:
          java-version: '11'
      - name: Run Linting
        run: mvn spotless:check
      - name: Run Tests
        run: mvn test